body {
    margin: 0;
    background-color: #000000;
}

.cabecalho {
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 95px;
    gap: 30px;
}


.img-header {
    color: white;
    box-shadow: 0px 0px 6px 6px white;
    border-radius: 40px;
    margin-left: 20px;
    width: 4%;
}

.text-header {
    display: flex;
    justify-content: left;
    color: white;
}

.nave {
    margin-left: 760px;
}

.menu-header ul {
    display: flex;
    gap: 20px;
}

.menu-header li {
    list-style: none;
}

.menu-header a {
    color: white;
    text-decoration: none;
}

.img-principal {
    height: 400px;
    width: 1350px;
}

.cardinfo {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 0px;
    height: 300px;
    width: 1200px;
}

.cardinfo img {
    border-radius: 30px;
}

.paragrafo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
    width: 700px;
    color: white;
}

.paragrafo h2 {
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    height: 50px;
    width: 220px;
    color: rgb(255, 0, 43);
}

.paragrafo p {
    font-size: 18px;
}

.lactea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title {
    margin-top: 150px;
    margin-bottom: 40px;
    color: rgb(4, 0, 255);
}

.img-section {
    margin-left: 400px;
    height: 60%;
    width: 40%;
}

.text {
    margin-top: 50px;
    margin-left: 170px;
    width: 1000px;
    color: white;
}

.card-lactea {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
}

.img-lactea {
    width: 35%;
    border: solid 3px white;
    border-radius: 50px;
    margin-right: 20px;
    margin-left: 75px;
}

.conju {
    color: white;
    font-size: 17px;
    width: 700px;
}

.conju h2 {
    color: #ff9900;
}

.solar {
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
    color: red;
}

.img-solar {
    margin-left: 220px;
    width: 900px;
}

.text-solar {
    color: white;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 95px;
    width: 1250px;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1d;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-title {
    color: white;

}

.img-logo {
    color: white;
    box-shadow: 0px 0px 6px 6px white;
    border-radius: 40px;
    margin-left: 20px;
    width: 10%;
}

.rede {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
    gap: 10px;
}

.rede h3 {
    color: white;
}

.rede a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

hr {
    margin: 0;
}

@media (max-width: 400px) {

    body {

        width: 400px;
        margin: 0;
    }

    .nave ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin-left: 20px;
        gap: 10px;
    }

    .nave li {
        padding-bottom: 0;
    }

    .nave a {
        display: flex;
        text-align: center;
        align-items: center;
    }


    .nave {
        width: 20px;
        margin: 0;
    }

    .img-header {
        margin-left: 6px;
        width: 20px;
    }

    .cabecalho {
        width: 420px;
        gap: 20px;
        
    }

    .text-header {
        font-size: 20px;
    }


    .img-principal {
        height: 200px;
        width: 420px;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    article {
        width: 400px;
    }

    .cardinfo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 400px;
    }

    .cardinfo h2 {
        display: flex;
        justify-content: center;
        margin: 0;
        text-align: center;
        width: 220px;
    }

    .cardinfo p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        margin-right: 20px;
        margin-bottom: 30px;
        margin-left: 0;
        width: 400px;
    }
    
    .cardinfo img {
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 80px;
        height: 300px;
        width: 300px;
    }

    .paragrafo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 200px;
        margin-left: 0;
        width: 400px;
    }


    .lactea {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-top: 100px;
    }

    .img-section {
        margin-top: 0;
        margin-left: 2px;
        height: 250px;
        width:250px;

    }

    .text {
        margin-top: 5px;
        margin-left: 0;
        width: 360px;
    }

    .card-lactea {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .img-lactea {
        height: 300px;
        width: 350px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .conju {
        margin-top: 40px;
        width: 385px;
    }

    .solar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 16px;
        width: 400px;
    }

    .titulo {
        margin-bottom: 50px;
        font-size: 20px;
    }

    .img-solar {
        margin-left: 0;
        margin-right: 0;
        width: 350px;
    }

    .text-solar {
        margin-top: 30px;
        margin-left: 0;
        width: 360px;
    }

    hr {
        width: 418px;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 420px;
    }

    .img-logo {
        margin-left: 6px;
        width: 20px;
    }

    .logo-title {
        font-size: 15px;
    }

    .rede {
        display: flex;
        justify-content: center;
        margin-right: 90px;
        margin-bottom: 0;
        width: 100px;
    }

    .rede img {
        width: 10px;
    }

}